table {
  border-collapse: collapse;
}
.grid_container {
}

td {
  background-color: white;
  border: 1px solid black;
  font-size: 30px;
  font-family: helvetica;
  width: 59px;
  height: 59px;
  text-align: center;
  vertical-align: middle;
}

#myProgress {
  width: 8.4cm;
  background-color: grey;
}

#myBar {
  width: 0;
  height: 30px;
  background-color: rgb(124, 252, 0);
}
